* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar */

nav {
    background-color: #1e293b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 28px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* Home Section */

.home {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #1e293b, #2563eb);
    color: white;
    padding: 30px;
}

.home h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.home h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #7dd3fc;
}

.home p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.08);
    background-color: white;
}

/* Common Sections */

section {
    padding: 70px 10%;
    text-align: center;
}

section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

/* About */

#about p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.7;
}

/* Skills */

#skills {
    background-color: white;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background-color: #2563eb;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.skill:hover {
    transform
    #dark-mode-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode #skills,
.dark-mode #contact,
.dark-mode .project-card {
    background-color: #1f1f1f;
    color: white;
}
#typing-text {
    color: #7dd3fc;
    border-right: 2px solid white;
    padding-right: 5px;
}
